<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, name</h1>
    <h2>Recent Book Reviews</h2>
    <ul style="list-style-type:none">
        <li>List item one</li>
        <li>List item two with subitems:
            <ul>
                <li>Subitem 1</li>
                <li>Subitem 2</li>
            </ul>
        </li>
        <li>Final list item</li>
    </ul>
    <label>Other Books with Reviews</label><br><textarea></textarea><br>
    <a href="/books/add">Add Book and Review</a><br>
    <a href="/">Logout</a>
    <a href='users/{{user.id}}'>Account Info</a>
    
</body>
</html>