<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>User Alias:</h2>
    <h3>Name:</h3>
    <h3>Email:</h3>
    <h3>Total Reviews:</h3>
    <h3>Posted Reviews in the following books:</h3>
    <ul style="list-style-type:none">
        <li>List item one</li>
    </ul>
    <a href="/books">Home</a>
    <a href="/books/add">Add a Book and Review</a>
    <a href="/">Logout</a>
</body>
</html>